/* Base Styles */

:root {
    font-size: 10px;
}


**::before,
**::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}

.profile-user-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-stats {
    display: flex;
    flex-direction: row ;

}

.container .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 66%;
}

.image {
    object-fit: cover;
}

.gallery-item {

}

.gallery-item-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}







